body{
    margin: 0;
    padding: 0;
}
.header{
    border: 3px solid;
    background-color: aqua;
    position: fixed;
    width: 2000px;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-left: 500px;
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 30px;
}

ul:hover{
    color: blue;
    background-color:rgb(251, 247, 247);
}

.one1 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 110px;
    border: 3px solid red;
}

h3{
    color: white;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

b{
    color: aqua;
}

.links{
    color: white;
    text-decoration: none;
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    border: 3px solid;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    padding: 10px;
    border-radius: 35px;
    margin-bottom: 18px;
}

.links:hover{
    background-color: aqua;
    color: blue;
    border-radius: 10px;
}

.one1{
    /* background-color: cadetblue; */
    height: auto;
    border-bottom: 3px solid yellow;
    text-align: center;
    background-image: url(./img/1612756276_174-p-fon-goluboi-tekhno-238.jpg);
}

.two2{
    /* background-color: rgb(127, 203, 61); */
    height: 500px;
    border-bottom: 3px solid yellow;
    background-size: cover;
    background-image: url(./img/1612856970_57-p-krasnii-fon-s-effektami-67.jpg);
}

.three3{
    background-color: rgb(183, 88, 186);
    height: 500px;
    border-bottom: 3px solid yellow;
}

.foure4{
    background-color: rgb(187, 205, 53);
    height: 500px;
    border-bottom: 3px solid yellow;
}